.pagination {
  display: flex;
  justify-content: space-between;
  padding-bottom: 88px;
}

.pagination__block {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.pagination__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #121212;
}


